#world .world_top{
	height: 50px;
	border-bottom: 1px solid #EEEEEE;
}
#world .world_main{
	width: 1214px;
	margin: 10px auto;
}
#world .world_left{
	width: 1200px;
	margin-left: auto;
}
#model .model_left_cotent  a .a1{
    background-color: plum;
    color: #fff;
}
#model .model_left_cotent  a .a2{
    background-color: plum;
    color: #fff;
}
#model .model_left_cotent  a .a4{
    background-color: plum;
    color: #fff;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .container{
    width: 1280px;
    /*border: 1px solid #f00;*/
    margin: 0px auto;
    
 
}
 #world{
    height: 700px;
	/*clear: both;*/
	overflow: hidden;
	background-color: #F6F6F6;
    width: 100%;
    /*border: 1px solid #000;*/
}
