
#model{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ol,ul{
    list-style-type: none;
}
a{
    color: #666;
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}

.fade{
    opacity: 0;
}
.show{
    opacity: 1;
}
body {
/* 
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px; */
    color: #000;
    margin: 0;
    padding: 0;
}
/*测试部分*/
#top,#header,#nav,#banner,#model,#star,#team,#world,#serve,#after_sale,#footer{
    height: 100px;
    width: 100%;
    /*border: 1px solid #000;*/
}
.container{
    width: 1280px;
    /*border: 1px solid #f00;*/
    margin: 0px auto;
}

/*设置页面顶部的样式*/
#top{
    height: 5px;
    background-color: #002b54;
}
/*设置页面头部的样式*/
#header{
    height: 30px;
    background-color: #002b54;
}
#header .welcome{
    color: #B2B2B2;
}
#header .tel{
    color: #B2B2B2;
}
#header .header_left div{
    float: left;
    margin: 5px 10px 0px;
}
#header ul li{
    float: left;
    line-height: 30px;
}
#header li a{
    color: #B2B2B2;
    font-size: 15px;
    margin: 0px 15px;
}
#header li a:hover{
    color: #00925f;
}


/*设置导航栏的样式*/
#nav{
    height: 90px;
}
#nav img{
    margin: 0px 20px;
    width: 90px;
    height: 90px;
}
#nav ul.menu{
    margin-left: 30px;
    position: relative;
    height: 90px;
    z-index: 9999;
}
#nav ul .submenu {
    position: absolute;
    background-color: #EEEEEE;
}
/*一级导航浮动*/
#nav ul.menu::after {
    content: '';
    display: block;
    clear: both;
}
#nav ul.menu > li {
    float: left;
    width: 80px;
    margin: 0px 20px;
    padding: 0px 20px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    cursor:pointer;
}

/*二级导航项分割线*/
#nav ul.submenu {
    /*默认隐藏*/
    display: none;
}
#nav ul.submenu > li {
    border-bottom: 1px solid #fff;
    width: 80px;
    height: 60px;
    text-align: center;
    cursor:pointer;
}

/*内容区*/
#nav .content {
    min-height: 800px;
    background-color: #fff;

}
/*选中特效*/
#nav ul.menu > li:hover {
    width: 80px;
    height: 90px;
    background-color: #3282bf;
}
#nav ul.menu > li:hover > a {
    width: 80px;
    font-size: 15px;
    color: #fff;
}
#nav ul.menu > li:hover > ul.submenu {

    line-height: 60px;
    width: 80px;
    display: block;

    background-color: #9acfea;
}
#nav ul.menu > li:hover > ul.submenu>li> a{
    font-size: 15px;

}
#nav ul.menu > li:hover > ul.submenu>li:hover{

    width: 80px;
    display: block;
    color: #fff;
    background-color: #024585;
}
#nav ul.menu > li:hover > ul.submenu>li:hover>a{
    color: #fff;
}
/*动画帧*/
#nav @keyframes fade {
         from {
             opacity: 0;
         }
         to {
             opacity: 1;
         }
     }
/*基础动画样式*/
#nav .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
#nav .fadeIn {
    animation-name: fade;
    animation-direction: normal;
}



#banner{
    height:350px;
}
#banner .swiper-container {
    width: 100%;
    height: 350px;
}

#banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*model*/
#model{
    margin: 10px auto;
    height: 650px;
    width: 1200px;

}
#model .model_title{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 1200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
/* #model .model_title:hover{
    background-color: #3ec3ff;
    color: #fff;
    font-weight: bold;
} */

#model ul{
    width: 100%;
    margin: 0px auto;
    padding-top: 20px;
}
#model ul li{
    width: 300px;
    float: left;
    text-align: center;
    margin: 0px 20px;
}
#model ol>li{
    width: 300px;
    line-height: 45px;
}
#model ol>li a{
    width: 300px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#model ol>li a:hover{
    /* background-color: #3ec3ff; */
    color: rgb(124, 221, 45);
}




/*serve*/
#serve{
    height: 100px;
    background-color: #fff;
}
#serve dl{
    width: 200px;
    height: 100px;
    /*border: 1px solid #000;*/
    position: relative;
}

#serve dt img{
    width: 100px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 10px;
}
#serve dl .dd1{
    position: absolute;
    top: 40px;
    left: 110px;
    font-weight: bold;
}

#serve li{
    float: left;
    margin: 0px 10px;
    transition: all .3s;
}
#serve li:hover{
    transform: translateY(-10px);
}
#serve ul{
    width: 1110px;
    margin: 0px auto;
    height: 98px;
    border-bottom: 1px solid #333;
}

/*after_sale*/
#after_sale{
    height: 200px;
    background-color: #fff;
}
#after_sale ul{
    width: 1110px;
    margin: 0px auto;
    padding-top: 20px;
}
#after_sale ul li{
    width: 140px;
    float: left;
    text-align: center;
    margin: 0px 20px;
}
#after_sale ol>li{
    line-height: 30px;
}
#after_sale ol>li:first-child a{
    font-weight: bold;
}
#after_sale .xl{
    width: 20px;
    height: 17px;
    background: url("../img/icons.png") no-repeat -47px -95px;
    display: inline-block;
    vertical-align: middle;
}

/*页面底部的样式*/
#footer{
    height: 40px;
    background-color: #2D2D2D;
}
#footer p{
    line-height: 40px;
    margin: 0 auto;
}
#footer img{
    margin: 10px 20px;
    height: 20px;
    width: 25px;
}
#footer p span{
    color: #828282;
    margin: 0px 500px 0px 20px;
}
#footer p a{
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin: 0px 10px;
}
#footer p a:hover{
    color: #00925F;
}